<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css" type="text/css">
    <link rel="stylesheet" href="../style/style.css" type="text/css">
</head>

<body>
    <header>
        <h1>Thank you for installing Timing!</h1>
    </header>
    <section>
        <h2>Now is time to set everything up... What do you want to do?</h2>
        <div class="choice">
            <form>
                <label for="date">Pick a date to start from:</label>
                <input type="date" name="date" id="date" required>
                <button id="continue-btn">Continue</button>
            </form>
        </div>
        <span>OR</span>
        <div class="choice">
            <button id="start-btn">Start analyzing from now!</button>
        </div>
    </section>

    <script src="../scripts/startup.js"></script>
</body>

</html>